:root {
    --bg: white;
    --fg: rgb(1, 33, 1);
    --shadow: rgb(236, 234, 234);
}

body {
    background-color: var(--bg);    
    color: var(--fg);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
}

td, th {
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px 12px;
}

td {
    font-size: large;
    font-variant: small-caps;
}

th {
    font-size: larger;
}

tr:nth-child(even){background-color: var(--shadow)}




